In [1]:
import pandas as pd
from random import shuffle
from tqdm import tqdm
from sklearn.model_selection import train_test_split

## 数据预处理

In [2]:
corpus_data = pd.read_csv( "./data/corpus.tsv", sep="\t", names=["gid", "gname"])
print(f"商品标题corpus_data = {corpus_data.shape}")
train_data = pd.read_csv("./data/train.query.txt", sep="\t", names=["qid", "query"])
print(f"用户查询train_data = {train_data.shape}")
qrels = pd.read_csv("./data/qrels.train.tsv", sep="\t", names=["qid", "gid"])
print(f"查询与商品点击关系qrels = {qrels.shape}")
test_data = pd.read_csv("./data/dev.query.txt", sep="\t", names=["qid", "query"])
print(f"用户查询test_data = {test_data.shape}")

corpus_data = corpus_data.set_index("gid")
train_data = train_data.set_index("qid")
qrels = qrels.set_index("qid")
test_data = test_data.set_index("qid")

商品标题corpus_data = (1001500, 2)
用户查询train_data = (100000, 2)
查询与商品点击关系qrels = (100000, 2)
用户查询test_data = (1000, 2)

In [5]:
test_data

               query
qid
200001      甲黄酸阿怕替尼片
200002        索泰zbox
200003        kfc游戏机
200004      bunny成兔粮
200005         铁线威灵仙
...              ...
200996          液压煎孑
200997         友鱼水水族
200998          玻璃水帘
200999  至关车载充电器qk789
201000         帮企干烧煲

[1000 rows x 1 columns]

In [6]:
train_data

          query
qid
1       美赞臣亲舒一段
2       慱朗手动料理机
3           電力貓
4         掏夹缝工具
5         飞推vip
...         ...
99996     新娘手饰品
99997      一吨铲车
99998   避風塘蟹香蒜酥
99999     贝诗佳手膜
100000    俄罗斯蓝猫

[100000 rows x 1 columns]

In [3]:
corpus_data

                                                     gname
gid
1                           铂盛弹盖文艺保温杯学生男女情侣车载时尚英文锁扣不锈钢真空水杯
2        可爱虎子华为荣耀X30i手机壳荣耀x30防摔全包镜头honorx30max液态硅胶虎年情侣女...
3                         190色素色亚麻棉平纹布料 衬衫裙服装定制手工绣花面料 汇典亚麻
4                            松尼合金木工开孔器实木门开锁孔木板圆形打空神器定位打孔钻头
5                             微钩绿蝴蝶材料包非成品 赠送视频组装教程 需自备钩针染料
...                                                    ...
1001496                     专治牛皮癣特效中药膏专用药浴软膏银屑病老偏方泡澡沐浴露洗发水
1001497                     梳妆台镜子遮挡帘神器卫生间免打孔魔术贴拉帘轨道式防尘布帘滑轨
1001498                      护目镜透明化工实验室防护眼镜农药防风烟雾打磨粉尘飞溅平光镜
1001499                     克莱因蓝发带女日常外戴秋冬百搭宽边运动头箍韩国网红头饰酷街头
1001500                      真手表打火机带手电筒真车钥匙电子手表打火机充电防风送男友潮

[1001500 rows x 1 columns]

In [18]:
corpus_data.to_csv("./data/corpus.csv",index=False)

In [14]:
pd.concat(
    [
        corpus_data.rename(columns={'gname':'sentence'}),
        # train_data.rename(columns={'query':'sentence'}),
        # test_data.rename(columns={'query':'sentence'})
    ],
    ignore_index=True).to_csv("./data/full_corpus_querys.csv",index=False)

In [15]:
pd.read_csv("./data/full_corpus_querys.csv")

                                                  sentence
0                           铂盛弹盖文艺保温杯学生男女情侣车载时尚英文锁扣不锈钢真空水杯
1        可爱虎子华为荣耀X30i手机壳荣耀x30防摔全包镜头honorx30max液态硅胶虎年情侣女...
2                         190色素色亚麻棉平纹布料 衬衫裙服装定制手工绣花面料 汇典亚麻
3                            松尼合金木工开孔器实木门开锁孔木板圆形打空神器定位打孔钻头
4                             微钩绿蝴蝶材料包非成品 赠送视频组装教程 需自备钩针染料
...                                                    ...
1102495                                               液压煎孑
1102496                                              友鱼水水族
1102497                                               玻璃水帘
1102498                                       至关车载充电器qk789
1102499                                              帮企干烧煲

[1102500 rows x 1 columns]

In [5]:
query2corpus = pd.DataFrame(data=corpus_data.loc[qrels.gid]['gname'].values,index=train_data.loc[qrels.index]['query'],columns=['gname'])

In [7]:
query2corpus.to_csv("./data/full_df.csv")

In [14]:
X_train,X_val = train_test_split(query2corpus,test_size=0.01)

In [15]:
X_train.to_csv("./data/X_train.csv")
X_val.to_csv("./data/X_val.csv")

In [17]:
test_df = pd.read_csv("./data/X_train.csv")
test_df.shape

(99000, 2)